/*selecteur universel*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    display: none; /* Masquer la barre de défilement */
}
/*Declaration des varable de couleur dans la balise html*/
html{
    --var-primery-color:#4729c2;
    --var-secondary-color:#383838;
    --var-bg-color:#fafaf9;
    --var-hover-color:#4829c2f4;
    --var-border-color:rgba(157, 157, 157, 0.462);
    --var-li-color:rgba(84, 83, 83, 0.756);
}

/*Corps dela page*/
/*-------------------*/
body{
    display: block;
    background-color: var(--var-bg-color);
    font-family: "Poppins",sans-serif;
}

/*Header bar*/
header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 9rem;
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0px 0px 1px rgb(157, 157, 157);
    z-index: 1000;
}
header .logos {
    display: flex;
    gap: 8rem;
}
header .logos .logo{
    font-size: 30px;
    font-weight: 900;
    color: var(--var-secondary-color);
}
header nav {
    display: flex;
    align-items: center;
}
.logos .nav .ul{
    display: flex;
    list-style: none;
    gap: 2rem;
}
.logos .nav .ul li a{
    text-decoration: none;
    color: var(--var-secondary-color);
    font-weight: 600;
}
header .contact{
    display: flex;
    text-decoration: none;
    background-color: var(--var-primery-color);
    color: var(--var-bg-color);
    padding: 0.7rem 2rem;
    border-radius: 5px;
    font-weight: 600;
    font-size: small;
    transition: 0.3s ease;
    gap: 0.5rem;
     box-shadow: 0px 0px 1px rgb(157, 157, 157);
}
header .contact:hover{
    background-color: var(--var-hover-color);
    border: 1px solid var(--var-border-color);
    transform: scale(0.99);
}

/*Main*/
main{
    display: flex;
    padding:2rem 9rem 0;
    scroll-behavior: smooth;
}
/*Categorie partie*/
main .categories{
    display: block;
}
main .categories .search{
display: flex;
align-items: center;
gap: 0.5rem;
border: 1px solid var(--var-border-color);
border-radius: 3px;
padding:0rem 6rem 0rem 0rem ;
}
.search a {
   font-size: small;
    background-color: var(--var-primery-color); 
    color: var(--var-bg-color);
    padding: 0.5rem;
    border-radius: 3px;
}

.search input{
    outline: none;
    border: none;
}
input::placeholder{
    font-weight: 600;
    color: var(--var-li-color);
}
 .all-categories{
    display:flex;
    padding: 1rem 0;
    border-bottom: 1px solid var(--var-border-color);
 }
 .detail-categorie{
    display: block;
    padding: 1rem 0;
 }
 .all-categories ul,.detail-categorie ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 0.7rem;
 }
 ul li{
    display: flex;
 }
 
 ul li a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    color: var(--var-li-color);
    gap: 0.5rem;
    font-size: 14px;
    font-weight: 600;
    
}
/* Contenair */

.Container{
    width: 100%;
    padding: 0 2rem;
}
.Container h1{
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 30px;
}
.Container .Affichages{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    padding: 0.5rem 0;
    overflow-y: auto;
    height: 80vh;
    scrollbar-width:none;
    
}
.part-produit{
    display: flex;
    flex-direction: column;
    background-color: var(--var-bg-color);
    border-radius: 5px;
    box-shadow: 0px 0px 1px rgb(157, 157, 157);
    transition: 0.3s ease-in-out;
   
}
.cart-produit {
    position: relative;
    overflow: hidden;
}
img{
    object-fit: cover;
    width: 100%;
    height: 35vh;
    border-radius: 5px;
}
.commandez {
    display: flex;
    width: 100%;
    height: 87%;
    top: 0;
    transform:translateY(285px) ;
    position: absolute;
    opacity: 0;
    transition: 0.3s;
    justify-content: center;
    align-items: center;
}
.cart-produit:hover .commandez{
    transform: translateY(-1px);
    background-color: #16161663;
    opacity: 1;
}
.commandez a{
   background-color: #4829c2d8;
   color: var(--var-bg-color);
   padding: 0.7rem 1rem;
   border-radius: 50px;
   text-decoration: none;
   font-weight: 600;
   font-size: small;
}
.description{
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    color: var(--var-secondary-color);
    gap: 5px;
}
.description h3,p{
    font-size: smaller;
}

/*media query*/

@media screen and (max-width: 768px){
   

    header{
        padding: 0.5rem 1rem;
    }
    header .logos {
        gap: 2rem;
    }
    header .logos .logo{
        font-size: 25px;
    }
       header nav .ul{
        gap: 1rem;
    }
    header .logos nav{
       position: fixed;
       display: flex;
       bottom: 0;
       right: 0;
      background-color: #4829c2d8;
       padding: 0.1rem;
       border-radius: 5px;
    
      
    }
    .logos .nav .ul{
        flex-direction: column;
        gap: 0.01rem;
    
    }
    .logos .nav .ul li a{
        color: var(--var-bg-color);
        transition: 0.3s;
        padding: 0.5rem;
        font-size: 20px;
    }
    .logos .nav .ul li a:hover{
        color: var(--var-bg-color);
        transform: scale(1.1);
        color: var(--var-secondary-color);
        background-color: var(--var-bg-color);
        border-radius: 5px;
    }
    main{
        padding:2rem 0 0;
        z-index: 100;
        width: 100%;
    }
      main .categories {
        justify-content: center;
      }
      .ser{
        width: 100%;
        padding:0 1rem;
        display: flex;
      }
    main .categories .search{
        padding: 0;
        width: 100%;
       
       
    }
    main .categories .search i{
        font-size: 20px;
       
    }
     main{
        display: block;
    }
   
  .all-categories ul{
   
    flex-direction: row;
    overflow-X: auto;
    padding: 0 1rem;
    width: 100%;
}

  .all-categories ul li{
    flex: 1;
    justify-content: center;
    text-align: center;
    padding: 0.5rem ;
    border: 1px solid var(--var-border-color);
    border-radius: 50px;
  
}
h1{
    display: none;
}
.detail-categorie{
    display: none;
}
h1{
    font-size: 25px;
    padding: 0 1rem;
}
.Container{
    padding: 0 1rem;
}
.Container .Affichages{
        grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    }
    .part-produit{
        height: 100%;
    }
    img{
        height: 30vh;
    }
    .commandez {
        transform:translateY(200px) ;
    }
}
